
section[data-testid="stSidebar"]
    div.stButton > button {
        background-color: whitesmoke;
        width: 250px;
        color: #31333F !important;
        align-self: center;
		text-decoration: none;
		decoration: none;
    }

    div.stLinkButton > a {
        background-color: lightgrey;
        width: 250px;
        color: #31333F !important;
        text-decoration: none;
        align-self: center;
	}
